[Desktop Entry]
Encoding=UTF-8
Name=Link to logo.svg
Type=Link
URL=https://cdn.discordapp.com/attachments/557547086724464650/563669358904082433/logo.svg
Icon=image-svg+xml
